Repository JuanNicolas14/proyectoFinalCTD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend, test_backend, test_frontend, deploy_backend, deploy_frontend

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy

build_backend:
  image: maven:3.8.6-openjdk-18
  stage: build
  script:
    - cd Backend
    - echo "Compiling the code..."
    - mvn clean package
    - echo "Compile complete."
  artifacts:
    paths:
      - Backend/target/Backend-0.0.1-SNAPSHOT.jar
  rules:
    - changes:
        - Backend/**/*

build_frontend:
  image: node:latest
  stage: build
  script:
    - cd Frontend
    - npm install --force
    - echo "Compiling the code..."
    - npm run build
    - echo "Compile complete."
  artifacts:
    paths:
      - Frontend/dist
  rules:
    - changes:
        - Frontend/**/*

test_backend:
  stage: test
  image: maven:3.8.6-openjdk-18
  script:
    - cd Backend
    - echo "Running unit tests... This will take about 60 seconds."
    - mvn test
    - echo "Finished testing the app."
  rules:
    - changes:
        - Backend/**/*

test_frontend:
  stage: test
  image: node:latest
  script:
    - cd Frontend
    - echo "Running unit tests... This will take about 60 seconds."
#    - npm test
    - echo "Finished testing the app."
  rules:
    - changes:
        - Frontend/**/*

deploy_backend:
  stage: deploy
  # needs: [build_backend]
  image: amazoncorretto:17-alpine
  script:
    - apk add --no-cache aws-cli openjdk11 openssh-client
    - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
    - export AWS_DEFAULT_REGION=$AWS_REGION
    - chmod +x Backend/deploy.sh
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ./Backend/deploy.sh
    - echo "Application successfully deployed."
  when: manual
  rules:
    - changes:
        - Backend/**/*


deploy_frontend:
  stage: deploy
  #needs: [build_frontend]
  image: python:latest
  script:
    - pip install awscli
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws configure set region $AWS_REGION
    - echo "Deploying application..."
    - aws s3 sync Frontend/dist s3://proyectodh.bukinfood.online/
    - echo "Application successfully deployed."
  when: manual
  rules:
    - changes:
        - Frontend/**/*

creamos la pagina de reserva, al igual que se muestra los datalles del usuario, restaurante y la reserva, y tambien se implemento la logica para realizar la reserva con exito
  Frontend/src/App.jsx
  Frontend/src/Componentes/Footer/footer.css
  Frontend/src/Vistas/AgregarProducto/AgregarProducto.jsx
  Frontend/src/Vistas/Detalle/Detalle.jsx
  Frontend/src/Vistas/Reserva/Reserva.jsx
  Frontend/src/Vistas/Reserva/reserva.css
  Frontend/src/utils/AuthContext.jsx
  Frontend/src/utils/ReservaContext.jsx
Due: build_frontend, test_frontend, deploy_frontend

Creación endpoint para ver comentarios, en el frontend aparecen comentarios de usuarios y se permite comentar al dar una puntuación.
  Backend/src/main/java/com/example/Backend/controllers/PuntuacionController.java
  Backend/src/main/java/com/example/Backend/dto/PuntuacionDTO.java
  Backend/src/main/java/com/example/Backend/models/Puntuacion.java
  Backend/src/main/java/com/example/Backend/service/PuntuacionService.java
  Frontend/src/Componentes/Puntuacion/Puntuacion.css
  Frontend/src/Componentes/Puntuacion/Puntuacion.jsx
Due: build_backend, build_frontend, test_backend, test_frontend, deploy_backend, deploy_frontend

Agregamos estilos a la pagina de reserva, creamos la pagina de confirmacion reserva y agregamos atributos opcionales para el usuario en la reserva.
  Backend/src/main/java/com/example/Backend/controllers/ReservaController.java
  Backend/src/main/java/com/example/Backend/dto/ReservaDTO.java
  Backend/src/main/java/com/example/Backend/models/Reserva.java
  Backend/src/main/java/com/example/Backend/models/ReservaForm.java
  Backend/src/main/java/com/example/Backend/service/ReservaService.java
  Frontend/src/App.jsx
  Frontend/src/Componentes/Carrousel/Carrousel.jsx
  Frontend/src/Vistas/Reserva/Reserva.jsx
  Frontend/src/Vistas/Reserva/reserva.css
  Frontend/src/Vistas/ReservaExitosa/ReservaExitosa.jsx
  Frontend/src/Vistas/ReservaExitosa/reservaExitosa.css
Due: build_backend, build_frontend, test_backend, test_frontend, deploy_backend, deploy_frontend

Agregamos la pagina de historial de reservas e implementamos la logica para que se muestren las reservas del usuario autenticado.
  Backend/src/main/java/com/example/Backend/security/SecurityConfiguration.java
  Frontend/src/App.jsx
  Frontend/src/Vistas/DetalleUser/DetalleUser.jsx
  Frontend/src/Vistas/ReservaHistorial/ReservaHistorial.jsx
  Frontend/src/Vistas/ReservaHistorial/reservaHistorial.css
Due: build_backend, build_frontend, test_backend, test_frontend, deploy_backend, deploy_frontend

Incorporación Spinner a la hora de ver comentarios
  Frontend/src/Componentes/Puntuacion/Puntuacion.jsx
  Frontend/src/Componentes/SpinnerGrande/SpinnerGrande.jsx
  Frontend/src/Componentes/SpinnerGrande/spinnerGrande.css
Due: build_frontend, test_frontend, deploy_frontend

Se quita el spinner al renderizar comentarios
  Frontend/src/Componentes/Puntuacion/Puntuacion.jsx
Due: build_frontend, test_frontend, deploy_frontend

Cambiar fecha a la hora de hacer la reserva
  Frontend/src/Vistas/Reserva/Reserva.jsx
Due: build_frontend, test_frontend, deploy_frontend

Ajuste mapa y acentuaciones
  Backend/src/main/resources/templates/reserva.html
  Frontend/src/Componentes/MapsDistancia/MapsDistancia.jsx
Due: build_backend, build_frontend, test_backend, test_frontend, deploy_backend, deploy_frontend

Bloquear fechas anteriores a partir del día actual en calendario
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/Vistas/Detalle/Detalle.jsx
Due: build_frontend, test_frontend, deploy_frontend

Bloquear fechas anteriores en reservas
  Frontend/src/Vistas/Reserva/Reserva.jsx
Due: build_frontend, test_frontend, deploy_frontend

Estilos calendarios
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/Vistas/Detalle/Detalle.jsx
  Frontend/src/Vistas/Detalle/detalle.css
  Frontend/src/Vistas/Reserva/Reserva.jsx
  Frontend/src/Vistas/Reserva/reserva.css
Due: build_frontend, test_frontend, deploy_frontend

Ajuste formato fechas
  Frontend/src/Vistas/Detalle/Detalle.jsx
  Frontend/src/Vistas/Reserva/Reserva.jsx
Due: build_frontend, test_frontend, deploy_frontend

Mejoras a la pagina de historial y detalle producto
  Frontend/src/Vistas/Detalle/Detalle.jsx
  Frontend/src/Vistas/ReservaHistorial/ReservaHistorial.jsx
  Frontend/src/Vistas/ReservaHistorial/reservaHistorial.css
Due: build_frontend, test_frontend, deploy_frontend

se añade fav al header, test a los controllers y se quita latitud y longitud al crear producto
  Backend/src/main/java/com/example/Backend/controllers/MailController.java
  Backend/src/main/java/com/example/Backend/models/Ciudad.java
  Backend/src/main/java/com/example/Backend/models/ReservaForm.java
  Backend/src/test/java/com/example/Tests/controllers/AutenticacionControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/CiudadControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/FavoritoControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/MailControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/PaisControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/PermisoControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/PlanControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/PuntuacionControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/ReservaControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/RestauranteControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/RolControllerTest.java
  Backend/src/test/java/com/example/Tests/controllers/UsuarioControllerTest.java
  Frontend/src/Componentes/Header/Header.jsx
  Frontend/src/Vistas/AgregarProducto/AgregarProducto.jsx
Due: build_backend, build_frontend, test_backend, test_frontend, deploy_backend, deploy_frontend

Ajuste tabla planes
  Frontend/src/Vistas/AgregarPlan/AgregarPlan.jsx
  Frontend/src/Vistas/GestionPlan/GestionPlan.jsx
  Frontend/src/Vistas/ReservaHistorial/ReservaHistorial.jsx
Due: build_frontend, test_frontend, deploy_frontend

Entrega informe final
  Backend/src/main/resources/application.properties
  README.md
  diagrama-ER.png
  insert_bukinfood.sql
  schema_bukinfood.sql
Due: build_backend, test_backend, deploy_backend

Proyecto trasladado a github y modificado para que sirva en el localhost
  Backend/src/main/resources/application.properties
  Frontend/src/utils/baseUrl.json
Due: build_backend, build_frontend, test_backend, test_frontend, deploy_backend, deploy_frontend

Arreglos en algunos archivos
  Backend/src/main/resources/application.properties
  Frontend/src/Vistas/Home.jsx
  Frontend/src/assets/images/images.js
  README.md
Due: build_backend, build_frontend, test_backend, test_frontend, deploy_backend, deploy_frontend
